body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "googleTiltNeon";
  src: url(./assets/fonts/TiltNeon-Regular.ttf);
}
:root {
	--font-googleTiltNeon: "googleTiltNeon";
}

@font-face {
  font-family: "googleNotoSerifKR";
  src: url(./assets/fonts/NotoSerifKR-Regular.otf);
}
:root {
	--font-googleNotoSerifKR: "googleNotoSerifKR";
}